# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#VSCode stuff
.vscode
/static/
/logfile

*.py[cod]
__pycache__/

htmlcov/
media/
__pycache__

/.tox/

/.mypy_cache/
/htmlcov/
/gregblog/htmlcov
/gregsblog/.coverage
/.isort.cfg
/.coverage