{% extends "sitepages/base.html" %}
{% block title %}About The Blog{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h1 class="text-center">About This Blog</h1>
    <br />
    <img src="{% static 'sitepages/images/about.jpg' %}" class="img-fluid rounded mx-auto d-block" style="max-height:350px;"  />
    <br />
    <br />

    <!-- Used Bootstrap columns to decrease the width of the textbox -->
    <div class="row">
        <div class="col-md-2"></div>
      <div class="col-md-8">
      <br />
    <p class="text-left">
      The inspiration for this blog project came from my desire to improve my skills in programming. The basics of it were taken from an online course taught by Nick Walter and I highly recommend his material. 
      <br />
      <br />
      This blog site was built using Django/Python, with assistance from HTML, CSS and Bootstrap. So, this was a full-stack project (of sorts) and it was certainly fun to get some exposure to both the front and back-end. 
      Ubuntu, nginx and gunicorn were used to deploy the site.
      <br />
      <br />
      Although this blog started out as a coding challenge and learning opportunity, I plan to keep the blog going with mainly programming related posts. 
      The project was a challenge at times and I will go into more detail about those challenges in some of the blog posts. Also, I hope to add functionality to the Blog itself as I improve my skills. 
      <br />
      <br />
      </p>
      <p class="text-center">Thanks for reading this far!!</p>
      <br />
      <br />

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}
