{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greg's Tech Blog</title>

    <link rel="stylesheet" href="{% static 'css/cover.css' %}"/>
</head>

<body>
    <canvas id="canvas">World's Hottest Blog (Nearly...)</canvas>
    <script src="{% static 'sitepages/cover.js' %}"></script>
    
    <div class="main_title">
        <a href="{% url 'home' %}" >Greg's Tech Blog</a>
        <p>Click for Night | Doubleclick for Day</p>
    </div>
</body>
</html>