{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cover Triangles</title>
    <link rel="stylesheet" href="{% static 'css/cover_triangles.css' %}"/>
</head>

<body>
    <canvas>Your browser does not support HTML5 Canvas property.</canvas>
    <script src="{% static 'sitepages/triangles.js' %}"></script>
    
    <div class="main_title">
        <a href="{% url 'home' %}" >Greg's Tech Blog</a>
        <p>Click to Restart</p>
    </div>
</body>
</html>