{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cover Coswaves</title>
    <link rel="stylesheet" href="{% static 'css/cover_coswaves.css' %}"/>
</head>

<body>
    <canvas>Your browser does not support HTML5 Canvas property.</canvas>
    <script src="{% static 'sitepages/coswaves.js' %}"></script>
    
    <div class="main_title">
        <a href="{% url 'home' %}" >Greg's Tech Blog</a>
    </div>
</body>
</html>