{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice</title>
    <link rel="stylesheet"  href="../../static/sitepages/spinstarsstyle.css">
</head>
<body>
 <!--I wanted to create some clouds to make it look a little less stale, pictures were drawn by me in GIMP  -->
<div class="container">
    <div class="cloud1"><img src="../../static/sitepages/Cloud3c.png"></div>
    <div class="cloud3"><img src="../../static/sitepages/Cloud3c.png"></div>
    <div class="cloud2"><img src="../../static/sitepages/Cloud3c.png"></div>

</div>

    <canvas>Your browser does not support HTML5 Canvas property.</canvas>
        <script src="{% static 'sitepages/spinstars.js' %}"></script>

    <div class="main_title">
        <a href="{% url 'home' %}" >Greg's Tech Blog</a>
        <p>Click to Spin | Spin to Win</p>
        
    </div>

</body>
</html>
