{% extends "sitepages/base.html" %}
{% block title %}Greg's Tech Blog{% endblock %}
{% block content %}
{% load static %}         

<div class="container">
<br />
    <h1 class="text-center">Surprise</h1>
    <br />
    <img src="{% static 'sitepages/images/surprise.jpg' %}" class="img-fluid rounded mx-auto d-block" style="max-height:350px;"  />

    <br />
    <br />
    <p>
        You made it to this particular Surprise page, but there is a chance you will get diverted to other pages if you click the "Surprise" button again!.
        <br />
        This is Surprise page 1!!! Enjoy!
    </p>

  </div>
{% endblock %}
