{% extends "posts/base.html" %}
{% block title %}Greg's Tech Blog{% endblock %}
{% block content %}
{% load static %}
{% load markdownify %}
{% load util_tags %}
  
<br>
<div class="container">
    <h1 class="text-center">Welcome to Greg's Tech Blog!</h1>
    <br />
    <br />
    
    <a href="{% url 'cover' %}">
    <img src="{% static 'posts/images/home.jpg' %}" class="img-fluid rounded mx-auto d-block" style="max-height:350px;"  /></a>
    <br />
    <h2>Latest Posts</h2>
    <hr />

    <br />
    <form class='form-inline' method="GET" action="">
        <input type='text' class='form-control mr-1' name='q' placeholder='Search Post Content'/>
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
    <br />
    <br />

    {% for post in page_obj  %}

    <a href="{% url 'post_detail' post.slug %}"><h5><u>{{ post.title }}</u></h5></a>
    <br />
    <h6>{{ post.pub_date_pretty }}</h6>
    <br />
    <img src="{{ post.image.url }}" class="img-fluid rounded mx-auto d-block" style="max-height:200px;"alt="Picture here" />
    <br />
    <br />
    {{ post.summary | markdown | safe }}  <a href="{% url 'post_detail' post.slug %}">Continue Reading</a>
    <br />
    <br />
    <br />
    {% endfor %}

    <div class="text-center pb-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}


