{% extends "posts/base.html" %}
{% block title %}Greg's Tech Blog{% endblock %}
{% block content %}
{% load static %}
{% load markdownify %}
{% load util_tags %}

<div class="container">
<br />
<br />
<h3><u>{{ object.title }}</u></h3>
{{ object.pub_date_pretty }}
<br />
<br />
<img src="{{ object.image.url }}" class="img-fluid rounded mx-auto d-block" style="max-height:450px;" alt="Picture here" />
<br />
<br />

{{ object.body | markdown | safe | linebreaks }}
<br />
<br />
<br />
      <div id="disqus_thread"></div>
      <script>

    
      var disqus_config = function () {
      this.page.identifier = 'post-{{ object.slug }}'; 
      };
     
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://blogsight.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      
</div>
{% endblock %}
