{% load static %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Site</title>
    <link rel="stylesheet" href="../../static/sitepages/demostyle.css">
</head>

<body>
    <!-- Header Showcase -->
    <header id="showcase" class="grid">
        <div id="motion-picture" class="content-wrap">

            <canvas>Your browser does not support HTML5 Canvas property.</canvas>
            <script src="{% static 'sitepages/demo.js' %}"></script>
        </div>
    </header>

    <!-- Main Area -->
    <main id="main">
        <!-- Section A -->
        <section id="section-a" class="grid">
            <div id="backpic1" class="bg-image"></div>
            <div class="content-wrap">
                <h3>Come see the future!</h3>
                <p id="pitch">
                    In today's business landscape holding the attention of a consumer is a high priority.<br>
                    However, this fact can still get overlooked when a business promotes itself online, or it gets executed poorly e.g. incessant pop-ups.
                    I suggest a unique alternative or perhaps addition. A simple animation.<br> 
                    When executed well, an animation can be eye-catching, appealing and even elicit a desired emotion!
                    All these factors lead to the consumer being entertained and thus holding their attention while increasing engagement.<br> 
                    Is that it? Not by a longshot.<br>
                    I have the skills to make an animation unique to a business, place in the forefront or background of the site, and make it interactive! 
                    Interactivity can result in even more engagement...How? By making the interactivity interesting and fun.   
                </p>
            </div>
        </section>
        <!-- Section B -->
        <section id="section-b" class="grid">
            <ul>
                <li>
                    <div id="card">
                        <img id="im1" src="../../static/sitepages/images/lumi.jpg" alt="Image1">
                        <div class="card-content">
                            <h3 class="card-title">Ideas</h3>
                            <p>"Think more thoughtfully" <p id="quoter">- Daniel Shiffman</p></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="card">
                        <img id="im2" src="../../static/sitepages/images/thumb.jpg" alt="Image2">
                        <div class="card-content">
                            <h3 class="card-title">Success</h3>
                            <p>"Anything less isn't success" <p title="Actually me as far as I know" id="quoter">- Anonymous</p></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="card">
                        <img id="im3" src="../../static/sitepages/images/pen.jpg" alt="Image3">
                        <div class="card-content">
                            <h3 class="card-title">See Above</h3>
                            <p>"Creating something is more difficult than destroying something, but is ultimately more rewarding." <p title="Actually me as far as I know" id="quoter">- Anonymous</p></p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!-- Section C -->
        <section id="section-c" class="grid">
            <div id="backpic2" class="bg-image"></div>
            <div class="content-wrap">
                <h2>Experience the possibilities offered by animated interactive design</h2>
            </div>
            
        </section>

        <!-- Section D -->
        <section id="section-d" class="grid">
            <div class="box">
                <h2>Contact</h2>
                <p>webdevchev@gmail.com</p>
            </div>
            <div class="box">
                <h2 class="content-title">About</h2>
                <p>I made this website as a means of providing a quick demostration of my skills.<br>
                    The message above is sincere and relevent, however, this project should not be viewed as something that seriously promotes my business 
                    (I haven't gone live with that site yet) but rather, as mentioned, a demostration of skills.
                    Some of the things I'd like to point out are:<br> 
                    1) The JavaScript animation in the header.<br>
                    2) The mobile friendly nature of site done with CSS3 grids (make the view window narrower and hit refresh to see the difference if you're viewing on a computer monitor).<br>
                    3) The backround parallax patterns and colour design of the website. 
                </p>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="main-footer" class="grid">
        <div>Vandelay Industries</div>
        <div> 
            <a id="button" href="#" onclick="return false" onmousedown="autoScrollTo();" class="btn">Back to Top</a>
        </div>
        <div>Browse the <a href="http://gregsukochev.net" target="_blank">Tech Blog</a></div>
    </footer>
</body>

</html>