canvas {
    border: 1px solid black;
    background:white;
}

body {
    margin: 0;
}

.main_title {
    font-size: 75px;
    font-family: 'Verdana';
    color: #d94761;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

a {
    color: #d94761;
}

a:visited {
    color: #d94761;
}

a:link {
    color: #d94761;
}

a:hover {
    color: #47d9bf;
}

a:active {
    color: #F2D03B;
}
