body {
    margin: 0;
    padding: 0;
    background: "#182028";
}

.container {
    width: 100%;
}

img {
    width: 100%;
   
}

.container .cloud1 {
    position: absolute;
    float: none;
    top: 0em;
    margin-left: 0em;
    padding-left: 0em;
    
}

.container .cloud2 {
    position: absolute;
    float: none;
    top: 0em;
    margin-right: 0em;
    padding-right: 0em;
    margin-left: 35em;
    padding-left: 35em;
    
}

.container .cloud3 {
    position: absolute;
    float: none;
    top: 0em;
    margin-right: 10em;
    padding-right: 10em;
    margin-left: 10em;
    padding-left: 10em;
    
}

/* Footer Section */

.main_title {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #384551;
    position: absolute;
    top: 98%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

p {
    padding-bottom: 1em;
    font-size: 12px;
}

a {
    padding-bottom: 0;
    color: #384551;
}

a:visited {
    color: #384551;
}

a:link {
    color: #384551;
}

a:hover {
    color: #fab32f;
}

a:active {
    color: #F2D03B;
}